body {
  font-family: 'DM Sans', sans-serif;
}

.panel {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
  padding: 20px;
  width: 77.5%;
}

.panel-comp {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 20px 0;
}

.panel-title {
  margin: 0;
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 30px;
  color: #000000;
}

.panel-desc {
  margin: 0;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 22px;
  color: #72777E;
}

.search-box {
  background: #FFFFFF;
  padding: 20px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px; */
}

.input-box {
  background: #FFFFFF;
  border: 1px solid #4B4FA6;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
  height: 56px;
  width: 80%;
  font-size: 1em;
}

input[type='search'].input-box::placeholder{
  color: #C5C9D0;
}

.search-btn {
  cursor: pointer;
  color: white;
  background: #E10000;
  border-radius: 4px;
  margin-left: 10px;
  height: 56px;
  width: 182px;
  font-size: 1em;
  font-weight: bold;
}

.search-wrapper {
  
}